<section class="section">
  <div class="container">
    <h1 class="title">
      <i class="fa-solid fa-tag"></i>
      <%= t('posts.category.title', category: t("posts.categories.#{Post::CATEGORIES[params[:category_id].to_i]}")) %>
    </h1>

    <% if @posts.present? %>
      <% @posts.each do |post| %>
        <%= render partial: "posts", locals: { post: post } %>
      <% end %>
    <% else %>
      <p>
        <i class="fa-solid fa-circle-info"></i>
        <%= t('posts.category.no_posts') %>
      </p>
    <% end %>
  </div>
</section>

<div class="container">
  <%= paginate @posts %>
</div>