.notification {
  position: fixed;
  top: 75px;
  right: 10px;
  z-index: 1000;
  max-width: 400px;
  animation-duration: 0.5s;
  
  &.hide {
    animation-name: animate__slideOutRight;
    animation-fill-mode: forwards;
  }
}