<div id="flash-messages" data-controller="notification">
  <% flash.each do |type, message| %>
    <% 
      type_sym = type.to_sym

      bulma_class = case type_sym
                    when :notice, :success then 'is-success'
                    when :alert, :error, :danger then 'is-danger'
                    when :warning then 'is-warning'
                    else 'is-info'
                    end

      icon_class = case type_sym
                   when :notice, :success then 'fa-circle-check'
                   when :alert, :error, :danger then 'fa-circle-exclamation'
                   when :warning then 'fa-triangle-exclamation'
                   else 'fa-circle-info'
                   end
    %>

    <div class="notification <%= bulma_class %> animate__animated is-hidden" data-notification-target="message">
      <button class="delete" data-action="click->notification#closeNow"></button>
      <span class="icon-text">
        <span class="icon">
          <i class="fas <%= icon_class %>"></i>
        </span>
        <span><strong><%= t("notifications.titles.#{type_sym}", default: t("notifications.titles.default")) %></strong></span>
      </span>
      <br>
      <%= message %>
    </div>
  <% end %>
</div>